.footer {
  background-color: white;
  text-align: center;
  padding: 17px 0;
  position: relative;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.footer-x {
  color: rgb(181, 0, 0);
}
