.header-x {
  color: rgb(181, 0, 0);
  margin-left: 0.2em;
}

.header {
  font-size: 25px;
  background: transparent;
}

.profile-btn {
  position: absolute;
  right: 20px;
  /* display: flex; */
  /* justify-content: center; */
  /* top: auto; */
  margin-top: 6px;
  /* background-color: transparent; */
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
}
